.roommate-listing-container {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    color: #0f161c;
  }
  
  .search-bar {
    color: rgb(247, 247, 247);
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #683d3d;
    border-radius: 4px;
    background: #402b2e;
  }
  
  .roommate-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .roommate-card {
    
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .roommate-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #141414;
  }
  
  .roommate-card p {
    font-size: 1em;
    color: #242424;
  }
  